# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Compiled class files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.ear

# Minecraft server
run/